<link rel="stylesheet" type="text/css" href="/styles/typeahead.css" />

<template>
  <input type="text" class="form-control input-large typeahead" placeholder="${placeholder}" value.bind="challenger" keyup.delegate="filter('selectionItems', 'challenger')" />
  <div class="selectionList">
    <div repeat.for="item of selectionItems" click.delegate="$parent.update('challenger', item.name)" class="selectionItem ${item.visibility}">
      ${item.name}
    </div>
  </div>

  <div id="hiddenInputContent"><p>${hiddenInputContent}</p></div>
</template>
