<link rel="stylesheet" type="text/css" href="/styles/typeahead.css" />

<template>
  <div class="typeahead-wrapper">
    <input type="text" class="form-control" placeholder="${placeholder}" value.bind="inputValue" keyup.delegate="filter('selectionItems')" />
    <div class="selectionList">
      <div repeat.for="item of selectionItems" click.delegate="update('inputValue')" class="selectionItem ${item.hide}">
        ${item.name}
      </div>
    </div>
  </div>

  <p>${inputValue2}</p>
</template>
