html, body {
  background: #fff;
  font-size: 16px;
}


h1, h2, h3, h4, h5, p, a, div, section {
  font-family: 'Crete Round', serif;
}

body > div.page-host {
  padding: 50px;
}

a.thumbnail > img {
  width: 260px;
  height: 180px;
}

/* Bootstrap overrides */

.form-control {
  border: none;
  box-shadow: none;

  -webkit-transition: background-color, font-size 200ms;
  transition: background-color, font-size 200ms;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  font-size: 1.1em;
  background-color: #ffe;
}

input.form-control {
  background: inherit;
}
