html, body {
  background: #fff;
  font-size: 18px;
}

body {
  padding: 10px;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.17em; }
h4 { font-size: 2.12em; }
h5 { font-size: 1.83em; }
h6 { font-size: 1.75em; }

h1, h2, h3, h4, h5, p, a, div, section, input {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Lora', serif;*/
}

p {
  line-height: 1.48em;
}

.emphasis {
  padding: 0px 5px 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 1.1em;
  color: #666;
}

.biggify {
  font-weight: 700;
  font-size: 1.1em;
}

#rcfb-logo {
  width: 150px;
}

.block-center {
  display: block;
  margin: 0 auto;
}

/* */

textarea {
  resize: none;
}

section {
  margin-bottom: 36px;
}

/*hr.fancyashell {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.fancyashell:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}*/

.hidden, .aurelia-hide {
  display: none !important;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}


/* Bootstrap overrides */

.container {
  max-width: 730px;
}

.form-control {
  border: none;
  box-shadow: none;

  -webkit-transition: background-color, font-size 200ms;
  transition: background-color, font-size 200ms;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  font-size: 1.1em;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #ffe;
}

input.form-control {
  background: inherit;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
}
