html, body {
  background: #fff;
  font-size: 16px;
}

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, p, a, div, section {
  font-family: 'Crete Round', serif;
}

.emphasis {
  padding: 0px 5px 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 1.1em;
  color: #666;
}

textarea {
  resize: none;
}

/* Bootstrap overrides */

.container {
  max-width: 730px;
}

.form-control {
  border: none;
  box-shadow: none;

  -webkit-transition: background-color, font-size 200ms;
  transition: background-color, font-size 200ms;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  font-size: 1.1em;
  background-color: #ffe;
}

input.form-control {
  background: inherit;
  padding-left: 5px;
  padding-right: 5px;
}
